/* CSS HEX */
--honeydew: #e0f2e9ff;
--dark-cyan: #3c887eff;
--vermilion: #f24535ff;
--gunmetal: #30343fff;
--eerie-black: #1b2021ff;

/* CSS HSL */
--honeydew: hsla(150, 41%, 91%, 1);
--dark-cyan: hsla(172, 39%, 38%, 1);
--vermilion: hsla(5, 88%, 58%, 1);
--gunmetal: hsla(224, 14%, 22%, 1);
--eerie-black: hsla(190, 10%, 12%, 1);

/* SCSS HEX */
$honeydew: #e0f2e9ff;
$dark-cyan: #3c887eff;
$vermilion: #f24535ff;
$gunmetal: #30343fff;
$eerie-black: #1b2021ff;

/* SCSS HSL */
$honeydew: hsla(150, 41%, 91%, 1);
$dark-cyan: hsla(172, 39%, 38%, 1);
$vermilion: hsla(5, 88%, 58%, 1);
$gunmetal: hsla(224, 14%, 22%, 1);
$eerie-black: hsla(190, 10%, 12%, 1);

/* SCSS RGB */
$honeydew: rgba(224, 242, 233, 1);
$dark-cyan: rgba(60, 136, 126, 1);
$vermilion: rgba(242, 69, 53, 1);
$gunmetal: rgba(48, 52, 63, 1);
$eerie-black: rgba(27, 32, 33, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #e0f2e9ff,
  #3c887eff,
  #f24535ff,
  #30343fff,
  #1b2021ff
);
$gradient-right: linear-gradient(
  90deg,
  #e0f2e9ff,
  #3c887eff,
  #f24535ff,
  #30343fff,
  #1b2021ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #e0f2e9ff,
  #3c887eff,
  #f24535ff,
  #30343fff,
  #1b2021ff
);
$gradient-left: linear-gradient(
  270deg,
  #e0f2e9ff,
  #3c887eff,
  #f24535ff,
  #30343fff,
  #1b2021ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #e0f2e9ff,
  #3c887eff,
  #f24535ff,
  #30343fff,
  #1b2021ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #e0f2e9ff,
  #3c887eff,
  #f24535ff,
  #30343fff,
  #1b2021ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #e0f2e9ff,
  #3c887eff,
  #f24535ff,
  #30343fff,
  #1b2021ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #e0f2e9ff,
  #3c887eff,
  #f24535ff,
  #30343fff,
  #1b2021ff
);
$gradient-radial: radial-gradient(
  #e0f2e9ff,
  #3c887eff,
  #f24535ff,
  #30343fff,
  #1b2021ff
);
