:root {
  /* CSS HEX */
  --timberwolf: #d8d9d7ff;
  --persian-green: #1b998bff;
  --vermilion: #f24535ff;
  --gunmetal: #30343fff;
  --eerie-black: #1b2021ff;

  /* CSS HSL */
  --timberwolf-hsl: hsla(90, 3%, 85%, 1);
  --persian-green-hsl: hsla(173, 70%, 35%, 1);
  --vermilion-hsl: hsla(5, 88%, 58%, 1);
  --gunmetal-hsl: hsla(224, 14%, 22%, 1);
  --eerie-black-hsl: hsla(190, 10%, 12%, 1);
}
